@model ItemDetailsViewModel

<div>
    <h4 class=" text-center">@ViewResourcesModel["ControlPanel"]</h4>
    <div class="btn-group-vertical">
        <div class="w-100">
            <form asp-controller="Item" asp-action="Delete" method="post">
                <input hidden name="id" value="@Model.Item.Id" />
                <input type="submit" class="btn w-100 btn bg_Green" value="@ViewResourcesModel["Delete"]"/>
            </form>
            
            <a class="btn w-100 btn bg_Green" asp-action="Edit" asp-controller="Item" asp-route-ItemId="@Model.Item.Id">@ViewResourcesModel["Edit"]</a>
        </div>
    </div>
</div>