<div>
    <h4 class=" text-center">@ViewResourcesModel["ControlPanel"]</h4>
    <div class="btn-group-vertical">
        <div class="w-100">
            <a class="w-100 btn bg_Green" asp-action="create" asp-controller="item" asp-route-collectionid="@Model.collection.Id">create Item</a>
            <a class="w-100 btn bg_Green" asp-action="Edit" asp-controller="Collection" asp-route-collectionid="@Model.collection.Id">@ViewResourcesModel["Edit"]</a>
            <a class="w-100 btn bg_Green" asp-action="Delete" asp-controller="Collection" asp-route-id="@Model.collection.Id">@ViewResourcesModel["Delete"]</a>
        </div>
    </div>
</div>