@model ExampleWebSite.ViewModels.CollectionDetailsViewModel

@foreach (var item in Model.items)
{
    <div class="col-md-3">
        <div class="card m-2 bg_swap_border" style="width:90%;">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                @if (Model.AvtorName == User.Identity.Name || User.IsInRole("admin"))
                {
                    <a class="text_color btn" asp-action="Delete" asp-controller="Item" asp-route-id="@item.Id">@ViewResourcesModel["Delete"]</a>
                }
                <a class="text_color btn" asp-action="Details" asp-controller="Item" asp-route-id="@item.Id">@ViewResourcesModel["Details"]</a>
            </div>
        </div>
    </div>
}
