@model CreateCollectionViewModel

<script>
     $(document).ready(function () {
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetThemes", "Theme")",
                dataType: "text",
                success: function (data) {
                    var arr = JSON.parse(data)

                    select = document.getElementById('Themss');
                    arr.forEach(el => {
                        var opt = document.createElement('option');
                        opt.value = el.title;
                        opt.innerHTML = el.title;
                            select.appendChild(opt);
                    });
                },
                error: function () {
                }
            })
        })
</script>

<div class="col-md-9">
    @if (!string.IsNullOrEmpty(Model.AvtorName))
    {
        <div class="lightBlueGreen w-100">
            <p><b>@ViewResourcesModel["author_will_be"] :</b> @Model.AvtorName</p>
        </div>
    }
    <form enctype="multipart/form-data" asp-action="Create" asp-controller="Collection" method="post">
        <input hidden value="@Model.AvtorName" asp-for="AvtorName" />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="collection.Title"></label>
            <input class="input-group input_custom" asp-for="collection.Title" />
            <span asp-validation-for="collection.Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="collection.ShortDesc"></label>

            @*<textarea style="hyphens:auto; min-width:50%" asp-for="collection.ShortDesc" id="kv-01" rows="15" class="markdown" required data-bs-version="3" data-theme="fa4" title="Krajee Markdown Editor">
        </textarea>*@

            <span class="text-danger" asp-validation-for="collection.ShortDesc"></span>
            <div id="MarkdownEditor">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea asp-for="collection.ShortDesc" style="resize: none;height:300px;" class="w-100 Textarea_color" id="markdownText"># text </textarea>
                </div>
                <div class="col-md-6 div_border_custom">
                    <div style="overflow:auto; max-height:300px" class="w-100" id="ShortDesk">

                    </div>
                </div>
            </div>
            <hr class="hr_custom" />
            <select class="form-select bg_Green selectpicker" asp-for="ThemaTitle" id="Themss"></select>
        </div>

        <hr class="hr_custom" />

        <div class="form-group">
            <label>@ViewResourcesModel["Image"]</label>
            <input asp-for="ImageFile" accept="image/jpg,image/jpeg" />
        </div>
        <hr class="hr_custom" />

<<<<<<< HEAD
        @*</form>*@
    </div>
    <div class="col-md-12">
        <h3>@ViewResourcesModel["AddNewPropertiesMessage"]</h3>
        <p>@ViewResourcesModel["AddNewPropertiesMessageDetails"]</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            @await Html.PartialAsync("Partials/_createCollectionSidebar.cshtml")
        </div>
        <div class="col-md-7">
            <div id="generateElement">
                <div class="m-0" id="generateNum">
                    <hr class="hr_custom" />
                    <h4>@ViewResourcesModel["NumberProperties"]</h4>
                </div>
                <div class="m-0" id="generateStr">
                    <hr class="hr_custom" />
                    <h4>@ViewResourcesModel["StringProperties"]</h4>
                </div>
                <div class="m-0" id="generateBool">
                    <hr class="hr_custom" />
                    <h4>@ViewResourcesModel["BoolProperties"]</h4>
                </div>
                <div class="m-0" id="generateDate">
                    <hr class="hr_custom" />
                    <h4>@ViewResourcesModel["DateProperties"]</h4>
                </div>
                <div class="m-0" id="generateSmalString">
                    <hr class="hr_custom" />
                    <h4>@ViewResourcesModel["SmallStringProperties"]</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 text-center m-0">
        <p class="text-danger">@ViewResourcesModel["CannNotBeNullTitle"]</p>
=======
        <div id="generateElement">
            <div class="text_color" id="generateNum">
                <hr class="hr_custom" />
                <h4>@ViewResourcesModel["NumberProperties"]</h4>
            </div>
            <div id="generateStr">
                <hr class="hr_custom" />
                <h4>@ViewResourcesModel["StringProperties"]</h4>
            </div>
            <div id="generateBool">
                <hr class="hr_custom" />
                <h4>@ViewResourcesModel["BoolProperties"]</h4>
            </div>
            <div id="generateDate">
                <hr class="hr_custom" />
                <h4>@ViewResourcesModel["DateProperties"]</h4>
            </div>
        </div>

>>>>>>> parent of 636540e (added tagCloud,updated interface; sql requests; fixed bugs)
        <input class="btn bg_green_b" type="submit" value="@ViewResourcesModel["Create"]" />
    </form>
    <button>string</button>
</div>

<div class="col-md-3">
    @await Html.PartialAsync("Partials/_createCollectionSidebar.cshtml")
</div>

@* textarea markdown *@

<script type="text/javascript">

    let input = document.getElementById("markdownText")
    input.oninput = view;

    function view() {
        var text = $("#markdownText").val();
        target = document.getElementById('ShortDesk'),
            converter = new showdown.Converter(),
            html = converter.makeHtml(text);
        target.innerHTML = html;
    }
</script>

<script src="~/CustomMarkdownEditor/JS/CustomMarkdownJs.js"></script>
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
