@model ExampleWebSite.ViewModels.Collections.CollectionDetailsViewModel

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
<div class="col-md-9">
    <div>

        @if (Model.ImageUrl != null)
        {
            <img class="img-fluid" src="@Model.ImageUrl">
        }
        <h4 class="text-wrap">@Model.collection.Title</h4>
        <h6>@Model.collection.Thema</h6>

        <textarea hidden id="markdownText">@Model.collection.ShortDesc</textarea>

        <div style="overflow:auto;" class="h-auto w-100" id="ShortDesk">
            <hr class="hr_custom" />
        </div>

        @if (Model.items != null)
        {
            <div id="RenderItem" class="row">
                @await Html.PartialAsync("_writeMoreItems.cshtml")
            </div>
            <button id="loadBtn" class="text-center btn bg_Green" onclick="LoadItems()">@ViewResourcesModel["load_Mode"]</button>
        }
    </div>
</div>
<div class="col-3">
    @if (Model.collection.AvtorName == User.Identity.Name || User.IsInRole("admin"))
    {
        @await Html.PartialAsync("Partials/_controlSidebar.cshtml")
        <hr class="hr_custom"/>
        <h4 class=" text-center">@ViewResourcesModel["filtration"]</h4>
        @await Html.PartialAsync("Partials/_FiltrationPartial.cshtml")

    }
    else
    {
        @await Html.PartialAsync("../Shared/Partials/_SidebarPartial.cshtml")
    }
</div>


<script type="text/javascript">
    $(document).ready(() => {
        var text = $("#markdownText").val();
        target = document.getElementById('ShortDesk'),
            converter = new showdown.Converter(),
            html = converter.makeHtml(text);
        target.innerHTML = html;
    })
</script>


<script>
//load more item
$('div#loading').hide();
var page = 0;
var _inCallback = false;
    function LoadItems() {
    if (page > -1 && !_inCallback) {
        _inCallback = true;
        page++;
        $('div#loading').show();
        console.log(page);
        $.ajax({
            type: 'GET',
            url: "@Url.Action("Details","Collection")",
            data: { id: @Model.collection.Id,p:page },
            success: function (data, textstatus) {
                if (data != '') {
                    $("#RenderItem").append(data);
                }
                else {
                    page = -1;
                    $("#loadBtn").hide();
                }
                _inCallback = false;
                $("div#loading").hide();
            }
        });
    }
}
</script>