@model ExampleWebSite.ViewModels.CollectionDetailsViewModel
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>

<div class="w-100">
    @if (Model.collection.AvtorName == User.Identity.Name || User.IsInRole("admin"))
    {
        <a asp-action="create" asp-controller="item" asp-route-collectionid="@Model.collection.Id">create Item</a>
        <a asp-action="Edit" asp-controller="Collection" asp-route-collectionid="@Model.collection.Id">@ViewResourcesModel["Edit"]</a>
        <a asp-action="Delete" asp-controller="Collection" asp-route-id="@Model.collection.Id">@ViewResourcesModel["Delete"]</a>
    }
</div>

    @if (Model.ImageUrl != null)
    {
        <img class="img-fluid" src="@Model.ImageUrl">
    }
    <h3>@Model.collection.Title</h3>
    <h6>@Model.collection.Thema</h6>

<textarea hidden id="markdownText">@Model.collection.ShortDesc</textarea>

<script type="text/javascript">
    $(document).ready(() => {
        var text = $("#markdownText").val();
        target = document.getElementById('ShortDesk'),
            converter = new showdown.Converter(),
            html = converter.makeHtml(text);
        target.innerHTML = html;
    })
</script>

<div id="ShortDesk">

</div>
@if (Model.items != null)
{
    <div id="RenderItem" class="row">
        @await Html.PartialAsync("_writeMoreItems.cshtml")
    </div>
    <button class="text-center btn bg_Green" onclick="LoadComments()">load Mode</button>
}

    <script>
    $('div#loading').hide();
   var page = 0;
    var _inCallback = false;
    function LoadComments() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').show();
            console.log(page);
            $.ajax({
                type: 'GET',
                url: "@Url.Action("Details","Collection")",
                data: { id: @Model.collection.Id,p:page },
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#RenderItem").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $("div#loading").hide();
                }
            });
        }
    }
    </script>

