@model ExampleWebSite.ViewModels.CollectionDetailsViewModel

<h1>Details</h1>

@if (Model.collection.Items != null)
{
    if (Model.ImageUrl != null)
    {
        <img src="@Model.ImageUrl">
    }
    foreach (var item in Model.collection.Items)
    {

        <h4>@item.Title</h4>
        <a class="btn" asp-action="Delete" asp-controller="Item" asp-route-id="@item.Id">Удалить</a>
    }
}

<a asp-action="create" asp-controller="item" asp-route-collectionid="@Model.collection.Id">create Item</a>
<a asp-action="Edit" asp-controller="Collection" asp-route-collectionid="@Model.collection.Id">create Item</a>