
<div>
    <div class="row">
        <div class=" col-md-4">
            <a asp-action="FindUsersByName" asp-controller="Account" class="btn text_color w-100">@ViewResourcesModel["FindUser"]</a>
            <a asp-action="FindBandeUsers" asp-controller="Account" class="btn text_color w-100">@ViewResourcesModel["BanedUsers"]</a>
        </div>
        <div class=" col-md-8">
            <h4 class="text_color">@ViewResourcesModel["AdminCanDo"]</h4>
            <p><b>1</b> @ViewResourcesModel["AdminCanDoText1"]</p>
            <p><b>2</b> @ViewResourcesModel["AdminCanDoText2"]</p>
        </div>
    </div>
</div>