@model ExampleWebSite.ViewModels.CreateItemViewModel
<script>
    $(document).ready(function () {
        $('#datePicker').val(new Date().toDateInputValue());
    });
</script>

<div>
    <form method="post" asp-controller="Item" asp-action="Create">
        <div>
            <div class="form-group">
                <label asp-for="Item.Title"></label>
                <input asp-for="Item.Title" />
            </div>
            <div class="form-group">
                <label asp-for="Tags"></label>
                <p>@ViewResourcesModel["WriteTagsWith"]</p>
                
                <input class="input-group" id="tags" autocomplete="off" asp-for="Tags">

                <div id="Themss">

                </div>

            </div>
        </div>

        <input type="number" asp-for="collectionId" value="@Model.collectionId" />

        @if (Model.TypicalElements != null)
        {
            int i = 0;
            foreach (var item in Model.TypicalElements)
            {
                if (item.Type == "number")
                {
                    <h3>@item.Title</h3>
                    <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                    <input hidden name="Properties[@i].title" value="@item.Title" type="text" />
                    <input class="bg_swap_gray input-group" name="Properties[@i].value" type="number" />
                }
                if (item.Type == "string")
                {
                    <h3>@item.Title</h3>
                    <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                    <input hidden name="Properties[@i].title" value="@item.Title" type="text" />
                    <input class="bg_swap_gray input-group" name="Properties[@i].value" type="text" />
                }
                if (item.Type == "bool")
                {
                    <h3>@item.Title</h3>
                    <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                    <input hidden name="Properties[@i].title" type="text" value="@item.Title" />
                    <input class="bg_swap_gray Check-icon custom-checkbox" name="Properties[@i].value" type="checkbox" />
                }
                if (item.Type == "date")
                {
                    <h3>@item.Title</h3>
                    <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                    <input hidden name="Properties[@i].title" type="text" value="@item.Title" />
                    <input class="bg_swap_gray input-group" id="datePicker" name="Properties[@i].value" type="date" />
                }
                i++;
            }
        }

        <input type="submit" value="sent" />
    </form>
</div>

<script>

    function insert(word) {
        let inp = document.getElementById('tags');
        let start = inp.selectionStart;
        inp.value = inp.value.substring(0, start-1) + word +
            inp.value.substring(inp.selectionEnd, inp.value.length)
        inp.focus();
        inp.setSelectionRange(start, start + word.length)
    }

    let input = document.getElementById("tags")
    input.oninput = handleInput2;

    function handleInput2(e) {
        $("Themss").show();
        var len = e.target.value.length
        var indx = e.target.value.lastIndexOf(',');
        var value = e.target.value.substr(indx+1, len);
        console.log(value);
        
        $('#Themss').find('button').remove();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetTags", "Tag")",
            data: { SearchString: value },
            dataType: "text",
            success: function (data) {
                var arr2 = JSON.parse(data)
                console.log(data);
                $("#dropitem").remove();

                select = document.getElementById('Themss');

                arr2.forEach(el => {
                    var opt = document.createElement('button');
                    //opt.value = el.title;
                    opt.innerHTML = el.title;
                    opt.setAttribute('onclick', `insert("${el.title}") `);
                    //opt.classList.add(classes);
                    opt.classList.add("bg_Green");
                    opt.classList.add("btn");
                    opt.classList.add("m-auto");
                    opt.setAttribute('type', 'button');
                    select.appendChild(opt);
                });
            },
            error: function () {
            }
        })
    }
</script>