@model ExampleWebSite.ViewModels.CreateItemViewModel

<script>
    $(document).ready(function () {
        $('#datePicker').val(new Date().toDateInputValue());
    });
</script>

<form method="post" asp-controller="Item" asp-action="Create">
    <div>
        <div class="form-group">
            <label asp-for="Item.Title"></label>
            <input asp-for="Item.Title" />
        </div>
        <div class="form-group">
            <label asp-for="Item.Tags"></label>
            <input asp-for="Item.Tags" />
        </div>
    </div>

    <input hidden type="number" asp-for="collectionId" value="@Model.collectionId" />

    @if (Model.TypicalElements != null)
    {
        int i = 0;
        foreach (var item in Model.TypicalElements)
        {
            if (item.Type == "number")
            {
                <h3>@item.Title</h3>
                <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                <input hidden name="Properties[@i].title" value="@item.Title" type="text" />
                <input name="Properties[@i].value" type="number" />
            }
            if (item.Type == "string")
            {
                <h3>@item.Title</h3>
                <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                <input hidden name="Properties[@i].title" value="@item.Title" type="text" />
                <input name="Properties[@i].value" type="text" />
            }
            if (item.Type == "bool")
            {
                <h3>@item.Title</h3>
                <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                <input hidden name="Properties[@i].title" type="text" value="@item.Title" />
                <input name="Properties[@i].value" type="checkbox" />
            }
            if (item.Type == "date")
            {
                <h3>@item.Title</h3>
                <input hidden name="Properties[@i].type" value="@item.Type" type="text" />
                <input hidden name="Properties[@i].title" type="text" value="@item.Title" />
                <input id="datePicker" name="Properties[@i].value" type="date"/>
            }
            i++;
        }
    }

    <input type="submit" value="sent" />
</form>