@model FindItemsByTextViewModel

@if (Model.SearchResoultModels != null)
{
    foreach (var item in Model.SearchResoultModels)
    {

    <h1>Текст найден в @item.Type @item.id</h1>
        if (item.Type == "collection")
        {
        <a asp-controller="Collection" asp-action="Details" asp-route-id="@item.id">Collection</a>
        }
        else
        {
            if (item.Type == "_item")
            {
            <p>inComments @item.InComments</p>
            <p>inProperti @item.InProperties</p>

            <a asp-controller="Item" asp-action="Details" asp-route-id="@item.id">Item</a>
            }
            else
            {
            <a asp-controller="Item" asp-action="Details" asp-route-id="@item.id">Item</a>
            }
        }
    }
}

@*<script>
    //like
    function LikeBtnOnclick(itemId, htmlElemId) {
        var Element = document.getElementById(htmlElemId)
        $.ajax({
            type: 'Get',
            url: "@Url.Action("Like","Like")",
            data: { ItemId: itemId },
            success: function (data) {
                console.log(data);
                if (data.status) {
                    Element.innerHTML = `<i class="fa text-danger fa-heart"></i> ${data.count}`;
                }
                else {
                    Element.innerHTML = `<i class="fa fa-heart"></i> ${data.count}`;
                }
            },
            error: function (data) {
                if (data.message == undefined) {
                    alert("@ViewResourcesModel["AuthorizedPlease"]");
                }
            }
        })
    }
</script>*@