@model FindItemsByTextViewModel

<div class="row">
    @if (Model.SearchResoultModels != null)
    {
        foreach (var item in Model.SearchResoultModels)
        {
            if (item.Type == "Collection")
            {
                <div class="col-4">
                    <div class="card">
                        <div class="table table-info bg-success">
                            <h4 class="card-caption">
                                <a asp-controller="Collection" asp-action="Details" asp-route-id="@item.id"> @ViewResourcesModel["textFound"] @ViewResourcesModel["InProperties"] @ViewResourcesModel["OfTheCollection"]  @item.Title</a>
                            </h4>
                            <div class="ftr">
                                <div class="author">
                                    <a class="btn text_color bg-info" asp-action="Details" asp-controller="Collection" asp-route-id="@item.id">@ViewResourcesModel["Details"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                if (item.Type == "_item")
                {
                    <div class="col-4">
                        <div class="card">
                            <div class="table table-info">
                                <h4 class="card-caption">
                                    <a asp-action="Details" asp-controller="Item" asp-route-id="@item.id">@ViewResourcesModel["textFound"] @item.Title</a>
                                </h4>
                                <div class="ftr">
                                    <div class="author">
                                        <a class="btn text_color bg-info" asp-action="Details" asp-controller="Item" asp-route-id="@item.id">@ViewResourcesModel["Details"]</a>
                                    </div>
                                    @if (item.InComments)
                                    {
                                        <p>incoment <input class="float-right" checked disabled type="checkbox" /> </p>
                                    }
                                    else
                                    {
                                        <p>incoment <input class="float-right" disabled type="checkbox" /> </p>
                                    }
                                    @if (item.InProperties)
                                    {
                                        <p>incoment<input class="float-right" checked disabled type="checkbox" /> </p>
                                    }
                                    else
                                    {
                                        <p>incoment <input class="float-right" disabled type="checkbox" /></p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-4">
                        <div class="card">
                            <div class="table table-info">
                                <h4 class="card-caption">
                                    <a asp-action="Details" asp-controller="Item" asp-route-id="@item.id">@ViewResourcesModel["textFound"]  @item.Type </a>
                                </h4>
                                <div class="ftr">
                                    <div class="author">
                                        <a class="btn text_color bg-info" asp-action="Details" asp-controller="Item" asp-route-id="@item.id">@ViewResourcesModel["Details"]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>